### Python Keywords
Keywords are the reserved words in python.

We can't use a keyword as variable name, function name or any other identif


Keywords are case sentive

In [1]:
import keyword
print(keyword.kwlist)

print(f'\nLength of Keyword list : {len(keyword.kwlist)}')

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

Length of Keyword list : 35

### Identifier
Identifier is the name given to entities like class, functions, variables etc. in Python. It helps differentiating one entity from another.
Rules for Writing Identifiers:
- Identifiers can be a combination of letters in lowercase (a to z) or uppercase (A to Z) or digits (0 to 9) or an underscore (_).
- An identifier cannot start with a digit. 1variable is invalid, but variable1 is perfectly fine.
- Keywords cannot be used as identifiers.
- We cannot use special symbols like !, @, #, $, % etc. in our identifier.

In [2]:
abc = 12
print(f'variable abc has value of {abc} stored at {id(abc)}')

x = 12
print(f'variable x has value of {x} stored at {id(x)}')

variable abc has value of 12 stored at 140705134619904
variable x has value of 12 stored at 140705134619904

In [3]:
a = 12
print(f'variable a has value of {a} stored at {id(a)}')
b = a
print(f'variable a has value of {a} stored at {id(a)}')
print(f'variable b has value of {b} stored at {id(b)}')
a = 13
print(f'variable a has value of {a} stored at {id(a)}')
print(f'variable b has value of {b} stored at {id(b)}')

variable a has value of 12 stored at 140705134619904
variable a has value of 12 stored at 140705134619904
variable b has value of 12 stored at 140705134619904
variable a has value of 13 stored at 140705134619936
variable b has value of 12 stored at 140705134619904

### Numbers

In [4]:
a = 5                               #data type is implicitly set to integer
print(a, " is of type", type(a))
print()
a = 2.5                            #data type is changed to float
print(a, " is of type", type(a))
print()
a = 1 + 2j                          #data type is changed to complex number
print(a, " is complex number?") 
print(isinstance(1+2j, complex))

5  is of type <class 'int'>

2.5  is of type <class 'float'>

(1+2j)  is complex number?
True

### Strings
A string in Python consists of a series or sequence of characters - letters, numbers, and special characters.

In [5]:
s = "This is Online AI course"
print(s)

print(s[0])
#last char s[len(s)-1] or s[-1]

#slicing
s[5:]

This is Online AI course
T

'is Online AI course'

### List
- List is an ordered sequence of items
- Lists are mutable, meaning, value of elements of a list can be altered.

In [6]:
a = [10, 20.5, "Hello"]
print(a[1])               #print 1st index element

a[1] = 30.7
print(a)

20.5
[10, 30.7, 'Hello']

### Tuple
- Tuple is an ordered sequence of items same as list.The only difference is that tuples are immutable. Tuples once created cannot be modified.

In [7]:
t = (1, 1.5, "ML")
print(t[1]) #extract particular element

# t[1] = 1.25

1.5

### Set
- Set is an unordered collection of unique items. Set is defined by values separated by comma inside braces { }. Items in a set are not ordered.
- We can perform set operations like union, intersection on two sets. Set have unique values.

In [8]:
a = {10, 30, 20, 40, 5}
print(a, type(a))


s = {10, 20, 20, 30, 30, 30}
print(s)  

# print(s[1]) #we can't print particular element in set because 
#             #it's unorder collections of items

{5, 40, 10, 20, 30} <class 'set'>
{10, 20, 30}

### Dictionary
- Dictionary is an unordered collection of key-value pairs.



In Python, dictionaries are defined within braces {} with each item being a pair in the form key:value. Key and value can be of any type.

In [9]:
d = {'a': "apple", 'b': "bat"}
print(d['a'])

apple

### Conversion between Datatypes

In [10]:
print(float(5))     #convert interger to float using float() method

print(int(100.5))   #convert float to integer using int() method

print(str(20))      #convert integer to string

user = "satish"
lines = 100

print("Congratulations, " + user + "! You just wrote " + str(lines) + " lines of code" )
#remove str and gives error

print('We can convert one sequence to other')
a = [1, 2, 3]

print(type(a))      #type of a is list 

s = set(a)          #convert list to set using set() method

print(type(s))      #now type of s is set

list("Hello")       #convert String to list using list() method

5.0
100
20
Congratulations, satish! You just wrote 100 lines of code
We can convert one sequence to other
<class 'list'>
<class 'set'>

['H', 'e', 'l', 'l', 'o']

### Output / Output Format

In [11]:
a = 10
print("The value of a is", a) #python 3
# print "The value of a is " + str(a) # pyhton <= 2.7 

a = 10; b = 20 #multiple statements in single line.
print("The value of a is {} and b is {}".format(a, b))    #default
print("The value of b is {1} and a is {0}".format(a, b)) #specify position of arguments

#we can use keyword arguments to format the string
print("Hello {name}, {greeting}".format(name="satish", greeting="Good Morning"))

#we can combine positional arguments with keyword arguments
print('The story of {0}, {1}, and {other}'.format('Bill', 'Manfred',other='Georg'))

The value of a is 10
The value of a is 10 and b is 20
The value of b is 20 and a is 10
Hello satish, Good Morning
The story of Bill, Manfred, and Georg

### Input

In [12]:
num = input("Enter a number: ")
print(num)

Enter a number:  3

3

### Operators
- Operators are special symbols in Python that carry out arithmetic or logical computation. The value that the operator operates on is called the operand. operators operators

- ##### Arithmetic operators :  + , -, *, /, %, //, **
- ##### Comparison (Relational) operators :  >, <, ==, !=, >=, <=
- ##### Logical (Boolean) operators :  and, or, not
- ##### Bitwise operators :  &,  |,  ~,  ^,  >>,  <<

- ##### Assignment operators :   =,  +=,  -=,  *=,  /=,  %=,  //=,  **=, &=,  |=,  ^=,  >>=,  <<=

- ##### Special operators : <b>Identity Operators</b> : is and is not are the identity operators
They are used to check if two values (or variables) are located on the same part of the memory.

In [13]:
a = 5
b = 5
print(a is b)    #5 is object created once both a and b points to same object

l1 = [1, 2, 3]
l2 = [1, 2, 3]
print(l1 is l2)

#check is not
s1 = "Satish"
s2 = "Satish"
print(s1 is not s2)

True
False
False

- ##### Special operators : <b>MemberShip Operators</b> : in and not in
They are used to test whether a value or variable is found in a sequence (string, list, tuple, set and dictionary).

In [14]:
lst = [1, 2, 3, 4]
print(1 in lst)       #check 1 is present in a given list or not

#check 5 is present in a given list

d = {1: "a", 2: "b"}
print(1 in d)

True
True

### If - Else Conditional Statement

If Statement|If - Else Body|If - elif - Else Body
|- | - | - 
|![title](img/Python_if_statement.jpg) |  ![title](img/Python_if_else_statement.jpg) |  ![title](img/Python_if_elif_else_statement.jpg)

In [15]:
print('IF EXAMPLE !!')
num = 10

# try 0, -1 and None
if num < 2:
    print("Number is positive")
print("This will print always")      #This print statement always print

print('\nIf Else')
if num > 0:
    print("Positive number")
else:
    print("Negative Number")

print('\nIF - elif - Else')
if num > 0:
    print("Positive number")
elif num == 0:
    print("ZERO")
else:
    print("Negative Number")

print('\nNested IF')
if num >= 0:
    if num == 0:
        print("Zero")
    else:
        print("Positive number")
else:
    print("Negative Number")

IF EXAMPLE !!
This will print always

If Else
Positive number

IF - elif - Else
Positive number

Nested IF
Positive number

#### While Loop

- The body of the loop is entered only if the test_expression evaluates to True.
- After one iteration, the test expression is checked again.
- This process continues until the test_expression evaluates to False.
- The while loop in Python is used to iterate over a block of code as long as the test expression (condition) is true.
  
![title](img/whileloop.jpg)

In [19]:
#Find product of all numbers present in a list

lst = [10, 20, 30, 40, 60]

product = 1
index = 0

while index < len(lst):
    product *= lst[index]
    index += 1

print("Product is: {}".format(product))

print('\n\nWhile with Else condition')

numbers = [1, 2, 3,4,5]

#iterating over the list
index = 0
while index < len(numbers):
    print(numbers[index])
    index += 1
    
else:
    print("no item left in the list")

Product is: 14400000


While with Else condition
1
2
3
4
5
no item left in the list

#### For Loop

![title](img/forloop.jpg)

In [22]:
#Find product of all numbers present in a list

lst = [10, 20, 30, 40, 50]

product = 1
#iterating over the list
for ele in lst:
    print(type(ele))
    product *= ele

print("Product is: {}".format(product))

print('\nRange using in for loop')
#print range of numbers from 1 to 20 with step size of 2
for i in range(0, 20, 5):
    print(i)

print('\nFor loop with Else!!')
numbers = [1, 2, 3]

#iterating over the list
for item in numbers:
    print(item)
else:
    print("no item left in the list")

<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
Product is: 12000000

Range using in for loop
0
5
10
15

For loop with Else!!
1
2
3
no item left in the list

#### break and continue Statements
break Statement|Continue Statement
|- | - 
|![title](img/break.jpg) |  ![title](img/continue.jpg) 
|![title](img/break_works.jpg) |  ![title](img/continue_works.jpg)

In [23]:
print('break Example !!')
numbers = [1, 2, 3, 4]
for num in numbers:          #iterating over list
    if num == 4:
        break
    print(num)
else:
    print("in the else-block")
print("Outside of for loop")

print('\n\ncontinue Example !!')
#print odd numbers present in a list
numbers = [1, 2, 3, 4, 5]

for num in numbers:
    if num % 2 == 0:
        continue
    print(num)
else:
    print("else-block")

break Example !!
1
2
3
Outside of for loop


continue Example !!
1
3
5
else-block